html, body {
  background-color: #ecf0f1;
  color: #2c3e50;

  height: 100vh;
  width: 98vw;
  margin: 0px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  gap: 0px;
  padding-top: 5px;
  padding-right: 15px;

  overflow: hidden;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

button {
  background-color: #27ae60;
  color: #ecf0f1;

  font-style: bold;

  border: none;
  border-radius: 2px;

  padding: 10px;

  transition-duration: .4s;

  font-size: 14pt;
}

input, select {
  background-color: #ecf0f1;
  color: #2c3e50;

  border: none;
  border-radius: 2px;

  padding: 10px;

  transition-duration: .4s;

  font-size: 14pt;
}

button:hover, input:hover, select:hover {
  background-color: #dce0e0;
  color: #2c3e50;

  padding: 15px;

  transition-duration: .4s;
}

@keyframes boxshadow {
  0% {box-shadow: 0px 0px 30px 0px #2ecc71; }

  50% {box-shadow: 0px 0px 90px 0px #2ecc71; }

  100% {box-shadow: 0px 0px 30px 0px #2ecc71; }
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: boxshadow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  border-radius: 1px;

  flex-direction: column;
  align-items: center;
  padding: 25px;

  background-color: #ecf0f1;

  gap: 10px;
}

input::placeholder {
  color: #2c3e50;
  transition-duration: .4s;
}

input:hover::placeholder {
  color: #2c3e50;
  transition-duration: .4s;
}

label {
  font-size: 14pt;
}

/* scroll bar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #555;
}

.login {
  display: block;
}

.text-area {
  flex: 0 0 70%;
  overflow-y: scroll;
  display: none;
  padding: 10px;
}

.profile-area {
  flex: 0 0 30%;
  overflow-y: scroll;
  display: none;

  padding: 10px;

  border-style: hidden hidden hidden solid;
  border-color: #95a5a6;
}

.menu-option {
  transition-duration: .4s;
  background-color: #27ae60;
  width: 50%;
}

.menu-drop-btn {
  width: 100%;
}

.menu-option:hover > .menu-elements {
  display: flex;

  transition-duration: .4s;
}

.menu-elements {
  display: none;

  transition-duration: .4s;

  flex-direction: column;
}

.menu-option * {
  background-color: #27ae60;
}

.menu-option:hover > button {
  padding: 0px;
}

.chatbox {
  width: 90%;
  background-color: #8bcc9c;
}

.airesponse {
  font-size: 20pt;
}

label {
  font-size: 16pt;
}

#biologo {
  position: absolute;
  width: auto;
  height: 100px;
  top: 0%;
  left:100%;
  transform:translate(-100%, 0%);
  opacity: 60%;
}

.jfdjkafdasf {
  font-size: 26pt;
}

.holding {
  color: #009432;
  font-size: 24pt;
}
